html {
  font-size: 18px;
  color: white;
  font-family: Helvetica;
}

main {
  width: 960px;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0.66rem 0.5rem;
  text-transform: uppercase;
}

header img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}
